<div class="about">
<div class="about">
    <section class="about_introduction">
        <div class="inner noflex">
            <h2>カラーコンサルタントとして<br>悩んでいる人たちの癒しになりませんか？</h2>
            <p class="lead">
                みのいろでは、オーラソーマをはじめとしたカラーコンサルティングを通して
                <br>
                コンサルタントとして活躍していただけます。
            </p>
        </div>
    </section>
    <section class="about_service">
        <div class="inner noflex">
            <h2 class="tokuchou">みのいろの特徴</h2>
            <div class="about_service_list flexbox">
                <div class="about_service_list_item">
                    <p class="about_service_list_item_head">内容・料金を自由に設定</p>
                    <p class="about_service_list_item_body">
                        料金は最低1000円(単発)から。内容はカップルコンサルなど自由に設定できます。
                    </p>
                </div>
                <div class="about_service_list_item">
                    <p class="about_service_list_item_head">スキマ時間を有効活用</p>
                    <p class="about_service_list_item_body">空いた時間を無駄にすることなく収入アップが見込めます。</p>
                </div>
                <div class="about_service_list_item">
                    <p class="about_service_list_item_head">デビュー前に</p>
                    <p class="about_service_list_item_body">
                        新米カラーコンサルタントのデビュー前に練習の場としてお使いいただけます。
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="about_step">
        <div class="inner noflex">
            <h2>ご利用の流れ</h2>
            <div class="microCopy flexbox">
                <span>コンサルタントの場合</span>
            </div>
            <div class="about_step_content">
                <div class="about_step_content_item flexbox">
                    <div class="about_step_content_item_body">
                        <h4>コンサルタントとして登録し、<br>プロフィールを記入する</h4>
                        <p>自己紹介や資格、自分ができることなど、お客様が安心して選べるようにできるだけ詳細に記入しましょう。</p>
                    </div>
                </div>
                <span class="arrow_icon">
                <i class="fa-solid fa-circle-chevron-down fa-xl"></i>
                </span>
                <div class="about_step_content_item flexbox">
                    <div class="about_step_content_item_body">
                        <h4>プランを登録する</h4>
                        <p>プランの内容や金額を考えて記入しましょう。</p>
                    </div>
                </div>
                <span class="arrow_icon">
                <i class="fa-solid fa-circle-chevron-down fa-xl"></i>
                </span>
                <div class="about_step_content_item flexbox">
                    <div class="about_step_content_item_body">
                        <h4>お客様からの連絡に返信する</h4>
                        <p>カラーコンサルティングをしたいお客様からメッセージがきます。メッセージ機能を使って連絡をとりましょう。</p>
                    </div>
                </div>
                <span class="arrow_icon">
                <i class="fa-solid fa-circle-chevron-down fa-xl"></i>
                </span>
                <div class="about_step_content_item flexbox">
                    <div class="about_step_content_item_body">
                        <h4>お客様と契約する</h4>
                        <p>お互いに合意が取れたら契約を結びましょう。</p>
                    </div>
                </div>
                <span class="arrow_icon">
                <i class="fa-solid fa-circle-chevron-down fa-xl"></i>
                </span>
                <div class="about_step_content_item flexbox">
                    <div class="about_step_content_item_body">
                        <h4>
                            <span class="sp-clock">契約完了！</span>
                            お客様とカラーコンサルティングする
                        </h4>
                        <p>契約したらみのいろ内のメッセージ機能やzoom、またはカフェなどでカラーコンサルティングしましょう。自分で最適な方法を考えて実行しましょう。</p>
                    </div>
                </div>
            </div>
            <div class="iroiro">
            <%= link_to "プランを作る",new_plan_path, class:"padding-r waves-effect waves-light btn-large regi-c" %>
            <div class="about_andmore">
            <%= link_to "お客様はこちら",explanations_customer_path,class:"waves-effect waves-light btn cus-kochira" %>
            </div>
            </div>
        </div>
    </section>
</div>
</div>
