<div class="about">
<section class="about_introduction">
  <div class="inner noflex">
    <h2>
      みのいろは、お客様とカラーコンサルタントを
      <br>
      オンラインで繋げるサービスです。
    </h2>
  </div>
</section>
<section class="about_service">
<div class="inner noflex">
        <h2 class="select-reason">みのいろが選ばれる理由</h2>
    <div class="about_service_list flexbox">
        <div class="about_service_list_item">
            <p class="about_service_list_item_head">即日取れるカウンセリング予約</p>
            <p class="about_service_list_item_body">
            最短1時間後から予約可能。「今、コンサルしたい」時にもご利用いただけます。
            </p>
        </div>
        <div class="about_service_list_item">
            <p class="about_service_list_item_head">オンライン・オフラインに対応</p>
            <p class="about_service_list_item_body">まずはオンラインで、気に入ればカフェや自宅などで気軽にコンサルテーションできます。</p>
        </div>
        <div class="about_service_list_item">
            <p class="about_service_list_item_head">リーズナブル</p>
            <p class="about_service_list_item_body">
            今まで手の届かなかったカラーコンサルティングがなんと1000円から4500円の間で受けることができます。
            </p>
        </div>
    </div>
    </div>
    </div>
  </div>
</section>
<section class="about_consult">
  <div class="inner noflex">
    <h2>例えばこんなお悩みありませんか？</h2>
    
    <div class="top-case_body">
    <div class="row">
        <div class="col s12 m10">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">
                    生まれてきた意味を知りたい
                <i class="fas fa-exclamation-triangle"></i>
              </span>                     
                <p>なぜ自分が生まれきたのか、自分の生まれてきた意味、使命がわからず辛い。</p>
            </div>
            
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m10">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">
                    将来への不安
                <i class="fas fa-exclamation-triangle"></i>
              </span>
              <p>将来のことが漠然とわからず、不安で仕方ない。</p>
            </div>
            
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m10">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">
                    恋愛・夫婦関係
                <i class="fas fa-exclamation-triangle"></i>
              </span>
              <p>喧嘩ばかりで最近うまくいってない。相手との相性を知りたい。</p>
            </div>
            
          </div>
        </div>
      </div>
</div>
    <p class="about_consult_check_end">などあなたの様々な悩みをみのいろが解決します。</p>
  </div>
</section>
<section class="about_step">
  <div class="inner noflex">
    <h2>ご利用の流れ</h2>
    <div class="microCopy flexbox">
      <span>お客様の場合</span>
    </div>
    <div class="about_step_content">
      <div class="about_step_content_item flexbox">
        <div class="about_step_content_item_body">
          <h4>プロフィールを登録する</h4>
          <p>まずはプロフィール編集ページから自分のプロフィールを登録しましょう。</p>
        </div>
      </div>
      <span class="arrow_icon">
      <i class="fa-solid fa-circle-chevron-down fa-xl"></i>
      </span>
      <div class="about_step_content_item flexbox">
        <div class="about_step_content_item_body">
          <h4>コンサルタントを探す</h4>
          <p>「コンサルタントを探す」メニューからカラーコンサルタントを探してみましょう。</p>
        </div>
      </div>
      <span class="arrow_icon">
      <i class="fa-solid fa-circle-chevron-down fa-xl"></i>
      </span>
      <div class="about_step_content_item flexbox">
        <div class="about_step_content_item_body">
          <h4>コンサルタントを検討する</h4>
          <p>気に入ったコンサルタントを見つけたら、評価や価格などを参考に絞り込んでいきましょう。いきなり契約するのではなく、まずはメッセージで連絡を取り相談してみることをおすすめ致します。</p>
        </div>
      </div>
      <span class="arrow_icon">
      <i class="fa-solid fa-circle-chevron-down fa-xl"></i>
      </span>
      <div class="about_step_content_item flexbox">
        <div class="about_step_content_item_body">
          <h4>コンサルタントと契約する</h4>
          <p>コンサルタントと契約するにはコンサルタントプランページにある「契約する」ボタンを押して契約しましょう。お支払いはクレジットカードのみとなっております。</p>
        </div>
      </div>
      <span class="arrow_icon">
      <i class="fa-solid fa-circle-chevron-down fa-xl"></i>
      </span>
      <div class="about_step_content_item flexbox">
        <div class="about_step_content_item_body">
          <h4>
            <span class="sp-block">契約完了！</span>
            カラーコンサルティングを開始しましょう。
          </h4>
          <p>契約したら早速始めましょう。カラーコンサルティングの前にあらかじめボトルを４本選んでおきましょう。</p>
        </div>
      </div>
    </div>
  </div>
  <div class="consultants-kochira">
    <%= link_to "コンサルタントを探す", plans_path, class:"padding-r waves-effect waves-light btn-large search-btn" %>
    <div class="about_andmore">
        <%= link_to "コンサルタントはこちら",explanations_consultant_path,class:"waves-effect waves-light btn-small kochira-consultant" %>
    </div>
    </div>
</section>
</div>
