.post-articles {
    width: 1200px;
    height: 500px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.post-article {
    text-align: center;
    margin-top: 20px;
}

.btn-article {
    background: #ff6e00;
    width: 200px;
    &:hover {
        background: darken(#ff6e00, 20%);
    }
}

.blog-box {
    width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.write-blog {
    font-size: 20px;
    color: #ff6e00;
    font-weight: 700;
    width: 300px;
}

.articles {
    text-align: center;
}

.blog-ichiran {
    width: 1200px;
    margin: 0 auto;
}

.article-pen {
    color:#ff6e00;
}

.scoreStatus_star {
    white-space:nowrap;
}


.login-btn2 {
    background: #ff6e00;
    width: 100%;
    border-radius: 4px;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 20px;
    color: #fff!important;

    &:hover {
        background:darken(#ff6e00,20%);
    }
}

.password_reset {
    width: 100%;
    background: #ff6e00;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;

    &:hover {
        background:darken(#ff6e00,20%);
    }
}

.font-weight {
    font-size: 24px;
    color: black;
    font-weight: 600;
}

.status_unit_head_label {
    font-size: 13px;
    color: black;
    font-weight:600;
}

.review_list_comment {
    display: block;
}

.naiyou {
    display: block;
}

.preview {
    height: 125px;
    width: 125px;
    object-fit: contain;
  }

.follow_suru {
    color:#ff6e00;
    width: 100%;
}

.user-show-chat {
    margin-bottom: 20px;
}

.side-bar-message {
    background: #ff6e00;
    color:#fff;
}

.longer {
    width: 380px;
}

.mannaka {
    text-align: center;
}

.zero {
    font-size: 16px;
}

.cp_box1 {
.cp00 {
    display: none;
}
}

.average-score {
    display: flex;
    text-align: cetner;
    overflow: visible;
  }
  
  .star-rating {
    position: relative;
    width: 5em;
    height: 1em;
    font-size: 17px;
    overflow: visible;
  
  }
  .star-rating-front {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden; // 指定幅からはみ出した部分を隠す。
    white-space: nowrap;// widthが足りない時に、折り返さないようにする。
    height: 25px;
    color: #fdca00;
    background: linear-gradient(241.35deg,#ffe895 9.83%,#cc9300 81.66%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: visible;
  }
  .star-rating-back {
    color: #ccc;
  }

  .bold {
      white-space: nowrap;
  }

  .user-show-chat {
      margin-top: 20px;
      width: 380px;
  }

  .margin-bottom {
      margin-bottom: 20px;
  }

.list_follow {
    margin-bottom: 10px;
}

.like-btn-like {
    font-size: 1em;
    color: #ff6e00!important;
  }
  
  .like-btn-unlike {
    font-size: 18px;
    color: #ff6e00!important;
  }

@media (max-width: 699px) {
    .scoreStatus_star {
        height: 20px!important;
    }
}

.fa-bigger {
    font-size: 30px;
}


.btn-remove {
    display: none;
}

.img_user{
    width: 125px;
    height: 125px;
}

.disbility_img {
    width: 300px;
    height: 200px;
}

.resize125 {
    border-radius: 50%;
    width: 125px;
    height: 125px;
}