main {
    flex: 1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-break: break-all;
}

.about_introduction {
    background: #efebe9;
    padding: 72px 0 72px;
}

.noflex {
    display: block!important;
}

.inner {
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.about {

    .icon {
        background: none;
    }
    .lead {
        text-align: center;
        margin-top: 54px;
        font-size: 15px;
        line-height: 2;
        font-weight: 700;
    }
    h2 {
        font-size: 38px;
        color: #ff6e00;
        text-align: center;
        line-height: 1.6;
    }
}

h2 {
    margin: 0 auto;
    font-weight: 600;
}

p {
    margin: 0;
    font-size: 15px;
}

.about_service {
    background: #fff;

    .inner {
        box-sizing: border-box;
    }
}

.about_service_list {
    justify-content : space-between;
    align-items: baseline;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
}

.about_service_list_item {
    width: 30%;
}

.about_service_list_item_head {
    margin-top: 32px;
    color:#ff6e00;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}

.about_service_list_item_body {
    margin-top: 24px;
}

.about_step {
    padding: 92px 0;
    background: #efebe9;

    .button {
        .plan_consultant {
            width: 100%;
            height: 80px;
            font-size: 18px;
            max-width: 340px;
            padding: 0 16px;
            line-height: 80px;
            text-align: center;
            margin: 34px auto 0;
            display: block;

            .icon {
                font-size: 24px;
                margin-right: 8px;
            }
        }
    }

    .microCopy {
        justify-content: center;
        margin-top: 24px;

        span {
            font-size: 16px;
            display: block;
            background: #ff6e00;
            padding: 4px 16px;
            border-radius: 20px;
            color: #fff;
            font-weight: 700;
            text-align: center;
        }
    }
}

.about_step_content {
    max-width: 600px;
    margin: 40px auto 0;

    .arrow_icon {
        display: block;
        text-align: center;
        margin: 8px auto;

        img {
            width: 50px;
        }
    }
}

.about_step_content_item {
    width: 100%;
    background: #fff;
    border-radius: 6px;
    padding: 8px 16px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}

.about_step_content_item_body {

    p {
        margin-top: 8px;
        font-size: 12px;
        line-height: 1.8;
    }

    h4 {
        font-size: 18px;
        margin: 0;
    }
}

h4 {
    font-weight: 700;
}

.primaryButton {
    color: #fff;
    box-sizing: border-box;
    font-weight: 600;
    background: #ff6e00;
    border: 1px solid #ff6e00;
    border-radius: 4px;
}

a {
    text-decoration: none;
}

.icon {
    margin: 0 auto;
    border-radius: 50%;
}

.fa {
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.about_andmore {

    .userType_button {
        position:relative;
        align-items: center;
        margin: 40px auto 0;
        border-radius: 6px;
        max-width: 640px;
        padding: 16px;
        font-weight: 600;
        box-sizing: border-box;



        .button_inner {
            align-items: center;
        }
        
        .customer {
            background: #ff6e00;
            font-size: 20px;
            color: #fff;

            .text {
                padding-left: 24px;
            }
        }
    }
}

//customer

main {
    flex: 1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-break: break-all;
}

.about_introduction {
    background: #efebe9;;
    padding: 72px 0 72px;
}

.noflex {
    display: block!important;
}

.inner {
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.about {
    .lead {
        text-align: center;
        margin-top: 54px;
        font-size: 15px;
        line-height: 2;
    }
    h2 {
        font-size: 38px;
        color: #ff6e00;
        text-align: center;
        line-height: 1.6;
    }
}

h2 {
    margin: 0 auto;
    font-weight: 600;
    font-size: 38px;
    color: #ff6e00;
    text-align: center;
    line-height: 1.6;
    margin-bottom: 20px;
}

.about_service {
    padding-bottom: 20px;

    .inner {
        box-sizing: border-box;
    }
}

.about_service_list {
    justify-content: space-between;
    align-items: baseline;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
}

.about_service_list_item {
    width: 30%;
}

.about_service_list_item_head {
    margin-top: 32px;
    color:#ff6e00;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}

p {
    margin: 0;
    font-size: 15px;
}

.about_service_list_item_body {
    margin-top: 24px;
}

.about_consult {
    background: #d7ccc8;
    padding: 64px 0;
}

.about_consult_check {
    justify-content: center;
}

.about_step {
    padding: 92px 0;

    .button {
        .plan_customer {
            width: 100%;
            height: 80px;
            font-size: 18px;
            max-width: 340px;
            padding: 0 16px;
            line-height: 80px;
            text-align: center;
            margin: 34px auto 0;
            display: block;
        }
    }

    .microCopy {
        justify-content: center;
        margin-top: 24px;

        span {
            font-size: 16px;
            display: block;
            background:#ff6e00;
            padding: 4px 16px;
            border-radius: 20px;
            color: #fff;
            font-weight: 700;
            text-align: center;
        }
    }
}

.about_consult_check_body {
    width: 30%;
    margin-top: 40px;
}

.about_consult_check_end {
    text-align: center;
    margin-top: 40px;
    font-weight: 700;
    font-size: 20px;
}

.about_add {
    font-size: 12px;
}

.about_step_content {
    max-width: 600px;
    margin: 40px auto 0;

    .arrow_icon {
        display: block;
        text-align: center;
        margin: 8px auto;

        img {
            width: 50px;
        }
    }
}

.about_step_content_item {
    width: 100%;
    background: #fff;
    border-radius: 6px;
    padding: 8px 16px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}

.about_step {
    background: #efebe9;;
}

.about_step_content_item_head {
    background:#f4f8fa;
    max-width: 96px;
    width: 100%;
    height: 90px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.about_step_content_item_body {

    p {
        margin-top: 8px;
        font-size: 12px;
        line-height: 1.8;
    }

    h4 {
        font-size: 18px;
        margin: 0;
    }
}

.comment {
    position: absolute;
    bottom:3%;
    left: 21%;
    transform: translateX(-50%);
    margin: 0 auto;
}

.access_time2 {
    position: absolute;
    bottom: 3%;
    left: 45%;
    transform: translateX(-50%);
    margin: 0 auto;
}

.add2 {
    position: absolute;
    bottom: 3%;
    left: 50.5%;
    transform: translateX(-50%);
    margin: 0 auto;
}

.attach_money2 {
    position: absolute;
    bottom: 3%;
    left: 55%;
    transform: translateX(-50%);
    margin: 0 auto;
}

.mood {
    position: absolute;
    bottom: 3%;
    left: 80%;
    transform: translateX(-50%);
    margin: 0 auto;
}

.access_time {
    position:absolute;
    bottom: 8%;
    left: 21%;
    transform: translateX(-50%);
    margin: 0 auto;
}

.add {
    position:absolute;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
}

.attach_money {
    position:absolute;
    bottom: 8%;
    left: 79%;
    transform: translateX(-50%);
    margin: 0 auto;
}

.select-reason {
    padding-top: 20px!important;
    margin-bottom: 20px;
}

.access_time,
.add,
.attach_money{
    margin-bottom: 20px;
}

.search-btn {
    background: #ff6e00;
    font-weight: 700;
    border-radius: 8px;
}

.kochira-consultant {
    background: #fff;
    border: 2px solid #ff6e00;
    color: #ff6e00;
    font-weight: 700;
    border-radius: 8px;
}

.consultants-kochira {
    text-align: center;
    margin-top: 20px;
}

.about_andmore {
    margin-top: 20px;
}

.iroiro {
    text-align: center;
}

.regi-c {
    background: #ff6e00;
    border-radius: 8px;
    font-weight: 700;
    margin-top: 20px;
}

.cus-kochira {
    border-radius: 8px;
}

@media (max-width:699px) {
    .comment,
    .access_time2,
    .add2,
    .attach_money2,
    .mood,
    .access_time,
    .add,
    .attach_money {
        display: none;
    }
    
    .about_service_list{
        display: block;
    }

    .noflex {
        h2 {
            font-size: 17px;
        }
    }

    .about_service_list_item_head {
        font-size: 14px;
    }

    .about_service_list_item_body {
        font-size: 10px;
    }

    .about_step_content_item_body {
        h4 {
            font-size: 14px;
        }
    }
}

.tokuchou {
    padding-top: 20px;
}