.mentaListBox {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .searchBox_m {
        margin-top: 20px;
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 20px;
    }

    
    .searchBox {
        width: 290px;
        margin-right: 50px;
        box-sizing: border-box;
        text-align: left;

        .select-wrap {
            position: relative;
            width: 100%;
            top: -50px;

        }

        #q {
            background: #f4f8fa;
            margin: 0;
            border: none;
            outline: none;
            appearance: none;
            padding: 10px 20px;
            border-radius: 20px;
            width: 100%;
            box-sizing: border-box;
        }

        .plan_search {
            padding: 20px;
            background: #fff;
            border: 1px solid #f6f6f6;
            border-radius: 8px;
            overflow:hidden;
        }
    }
}


.plan_search {
    margin-top: 50px;
}

input {
    line-height: normal;
}

.m-b1 {
    margin-bottom: 10px;
}

h3 {
    font-weight: 700;
}

.relative {
    position: relative;
}

input[type=text] {
    min-height: 44px;
    font-size: 16px;
}

input {
    overflow: visible;
}

.absolute {
    position: absolute;
}

.gray2 {
    font-size: 13px;
    color: #999;
}

.right-1 {
    right: 1rem;
}

.center-v {
    top: 50%;
    transform: translateY(-50%);
}

.fas {
    font-weight: 900;
}

#motto_trigger,
.motto_btn {
    display: none;
}

input[type=checkbox]:read-only {
    color: ccc!important;
    border-color: #ccc!important;
}

[type=checkbox] {
    box-sizing: border-box;
    padding: 0;
}

.motto {
    display: block;
}

.inner {
    .tagbox {
        padding: 0;
        width: 100%;
    }
}



.inner {
    margin: 0 auto;
    flex-wrap: wrap;
}

.right {
    text-align: right;
}

.form-group {
    display: flex;
}

select {
    padding-right: 2rem;
    padding: 0.5rem 0.75rem;
    outline: none;
    appearance: auto!important;
    text-indent: 0.01px;
    background: none;
    vertical-align: middle;
    -webkit-appearance: none;
    height: 40px;
    border: 1px solid #ddd;
    width: 100%;
    border-radius: 3px;
    position: relative;
    display: inline-block;
}

select {
    option {
        background: #fff;
        color: #333;
    }
}

h3 {
    font-size: 16px;
}

.back_white {
    background: #f4f8fa;
}

.price-custom {
    padding-top: 10px;
    padding-bottom: 1px;
}



.cp_box {
    label {
        display: none;
    }
}



/*ここからプラン*/

.mentaListBox {

    .listBox_text {
        color: #666;
        text-align: left;
    }

    .listBox_result {
        text-align: left;
        margin-bottom: 4px;
        font-weight: 600;

        span {
            font-size: 1.4rem;
            font-weight: 700;
            display: inline;
            margin-right: 4px;
            color: #ff6e00;
        }
    }

    .listBox_info {
        margin-bottom: 16px;
    }

    .listBox_inner {
        position: relative;
    }

    .listBox {
        box-sizing: border-box;
        flex: 1;
        min-width: 0;
    }
}

.mentorSearch {
    display: flex;
    margin: 0 auto 24px;
    align-items: flex-start;
    flex-wrap: wrap;

    h1 {
        flex: 1;
        font-size: 26px;
        font-weight: 700;
    }
}

.backwhite {
    .inner {
        h1 {
            color: #333;
            font-size: 28px;
            text-align: left;
            margin: 0;
            width: 100%;
        }
    }
}

h1 {
    line-height: 150%;
}

.navbox_nav {
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    position: relative;
    margin-bottom: 24px;

    a {
        padding: 16px;
        color: #999;
    }

    .active {
        a {
            color: #ff6e00;
            font-weight: 700;
            position: relative;
        }
    }
}

.flexbox {
    display: flex!important;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

p {
    font-size: 15px;
    margin: 0;
}

.mentorList {
    display: flex!important;
    flex-wrap: wrap;
    justify-content: flex-start;

    .plan-card {
        margin-right: 17px;
        margin-bottom: 17px;
    }
}

.plan-card {
    position: relative;
    width: 265px!important;
    background: #fff;
    border-radius: 8px;
    border: 1px solid #999;
    overflow: hidden;

    .slick-slide {
        position: relative!important;
    }

    .slick-slider {
        position: absolute!important;
        margin-bottom: 0!important;
        box-sizing: border-box;
        user-select: none;
        touch-action: pan-y;
    }
}

.plan-card_wrapper {
    position: absolute;
    z-index :1;
    top: 0;
    left :0;
    width: 100%;
    height: 100%;
}

.plan-card_eyecatch {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-top: 56%;
    background: #999;
    margin-bottom: 0!important;
    height: 0;
    line-height: 0;
    z-index: 2;
}

.plan-card_image {
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
}

.slick-list {
    transform: translateZ(0);
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: relative;
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
}

.plan-card_iconButton {
    position: absolute;
    top: 90px;
    right: 16px;
    box-sizing: border-box;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 24px;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,.2);
    z-index: 1;

    .like .off {
        color: #fff;
    }
}

.like {
    align-items: center;
}

.plan-card-text {
    padding: 16px;
    box-sizing: border-box;
}
.plan-card_top {
    padding-bottom: 72px;
}

.plan-card_subject {
    font-size: 14px;
    text-align: left;
    font-weight: 600;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    display: -webkit-box;
    line-height: 1.6;
}

.plan-card_user {
    z-index: 1;
    margin-top: 10px;

    .name {
        position: relative;
        font-size: 12px;
        margin-left: 8px;
        color: #999;
    }

    .avatar-image {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            max-width: 100%;
        }
    }
}

.plan-card_user>a {
    align-items: center;
}

.name {
    -webkit-box-orient: vertical;
    -webkit-line-camp: 1;
    overflow: hidden;
    display: -webkit-box!important;
    max-width: calc(100% - 40px);
}

.plan-card_bottom {
    position: absolute;
    width: 100%;
    padding: 0 16px;
    box-sizing: border-box;
    left: 0;
    bottom: 16px;
}

.plan-card_info {
    align-items: center;
}

.plan-card_review {
    margin-top: 10px;
    justify-content: flex-end;
    font-size: 14px;
    align-items: center;
}

.plan-card_review-icon {
    margin-right: 2px;
    color: #f698a1;
}

.plan-card_review-count {
    margin-right: 6px;
    font-weight: 500;
}

.plan-card_review-link {
    font-size: 12px;
    z-index: 1;
}

.plan-card_price {
    font-size: 14px;
    font-weight: 700;
    text-align: right;
    color: #ff6e00;
    margin-top: 8px;
    margin-left: auto;
}

.m-b1 {
    margin-bottom: 10px;
}

.top_mentor_title {
    text-align: left;
}

.m-t2 {
    margin-top: 20px;
}

h3 {
    font-weight: 700;
}

.top_mentor_compornent {
    text-align: left;
}

.m-t1 {
    margin-top: 10px;
}

.top_mentor_card {
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    margin-top: 8px;
}

.top_mentor_card_card {
    width: calc(33% - 17px);
    margin-right: 28px;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #f6f6f6;
    padding: 16px;
    border-radius: 8px;
    overflow: hidden;

    .comments {
        font-size: .8rem;
        margin: 8px 0;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .facebox {
        display: flex;
        align-items: center;

        .name--small {
            font-size: .7rem;
            font-weight: 600;
            line-height: 1.4;
            text-align: left;
            color: #666;
        }

        .name {
            flex: 1;
            font-size: .8rem;
            font-weight: 700;
            line-height: 1.4;
            text-align: left;
        }

        .face {
            margin-right: 8px;
        }
    }

    .title {
        font-size: .8rem;
        margin-top: 8px;
        font-weight: 400;
    }

    .thumbnail {
        width: 100%;
        line-height: 1;

        img {
            width: 100%;
            object-fit: contain;
            width: 100%;
            height: 100px;
        }

        a {
            line-height: 0;
        }
    }
}

.top_mentor_card {
    .avatar_icon {
        border-top: 1px solid #e5e5e5;
        margin: 8px 0 0;
        padding: 8px 0 0;
    }
}

.size {
    width: 30px;
    height: 30px;
    max-width: 30px!important;
}

.icon {
    margin: 0 auto;
    border-radius: 50%;
    background-position: top;
    background-size: cover;
    background: #f4f8fa!important;
}

.text-ellipsis-line3 {
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.mt-2 {
    margin-top: 0.5rem;
}

.size20 {
    width: 20px;
    height: 20px;
    max-width: 20px!important;
}

.icon {
    margin: 0 auto;
    border-radius: 50%;
    background-position: top;
    background-size: cover;
    background: #f4f8fa;
}

.consultant-plan {
    display: flex!important;
    .mentorList {
        display: flex!important;
        .plan-card_wrapper {
            display: flex!important;
        }
    }
}






.plan_detail {
    flex-wrap: wrap;

    #side {
        .gray {
            background: #fff;
            border: 1px solid #f6f6f6;
            padding: 18px;
            border-radius: 8px;
            overflow: hidden;
        }
    }

    .pc {
        display: block;
    }

    .inner {
        display: flex;
        flex-wrap: wrap;
        padding-top: 10px;
    }
}



.back_white {
    background: #f4f8fa!important;
    text-align: center;

    .inner {
        .right {
            text-align: center;
        }
    }
}

.inner {
    margin: 0 auto;
}

#side {
    margin-bottom: 0;
    top: 0;
    flex-grow: 1;
    width: 24%;

    .time_stamp {
        color: #949494;
        font-size: 13px;
        padding: 0;
        text-align: center;
        margin-bottom: 8px;
    }

    .name {
        font-weight: 700;
        font-size: 18px;
        line-height: 1.4;
        padding: 0 30px;
    }

    .comments {
        background: #517d99;
        padding: 2px 10px;
        color: #fff;
        border-radius: 2px;
        display: inline-block;
        margin: 10px 0;
        font-size: 13px;
    }
}

.color {
    color: #ff6e00;
}

a {
    text-decoration: none;
    color: #4f5050;
}

.wborder {
    border-radius: 50%;
}

.size125 {
    width: 125px;
    height: 125px;
    margin-bottom: 40px;
}

.icon {
    margin: 0 auto;
    border-radius: 50%;
    background-position: top;
    background-size: cover;
    background: #f4f8fa;
}

.comments {
    line-height: 1.5;
    word-break: break-all;
}

.alignCenter {
    text-align: center!important;
}

p {
    margin: 0;
}

.link {
    color: #ff6e00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-break: break-all;
}

.snsicon {
    font-size: 25px;
    margin: 16px 0;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    text-align: left;

    a {
        display: flex;
        align-items: center;
    }
}

.m-r1 {
    margin-right: 10px;
}

.fab {
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.fa-twitter {
    color: #1995e0;
    margin-top: 20px!important;
    margin-right: 10px;
}

.followbox,
.Profile,
.snsicon {
    text-align: left;
    margin: 0 auto!important;
    margin-left: 10px!important;
}

.m-t1 {
    margin-top: 10px;
}

.follow {
    display: flex;
    margin-bottom: 10px!important;
    border: 1px solid #ff6e00;
    background: #fff;
    border-radius: 6px;
    color: #ff6e00!important;
    width: 250px;
    margin-top: 30px;

    .member {
        font-size: 13px;
        a {
            color: #ff6e00;
            font-weight: 600;
        }
    }

    .title {
        font-weight: 700;
        font-size: 11px;
    }

    .reply{
        font-size: 13px;
        font-weight: 600;
    }

    .w50p {
        width: 50%;
        padding: 5px 0;
        text-align: center;
        border-right: 1px solid #ff6e00;

        span {
            font-size: 18px;
            line-height: 1.2;
        }

        a {
            text-decoration: none;
        }
    }
}


.bold {
    font-size: 10px;
}

.selfcheck {
    font-size: .8rem;
    margin-bottom: 10px;
}

.hyouka_box {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 20px;

    .right {
        margin-left: auto;
        width: 80%;
        font-weight: 700;
        font-size: 16px;
        height: 34px;
        line-height: 34px;
        margin-top: -33px;
    }

    .icon_money {
        box-sizing: border-box;
        width: 40%;
        color: #737373;
        padding-left: 22px;
        background-repeat: no-repeat;
        background-size: 14px 14px;
        background-position: 0 10px;
        line-height: 34px;
        font-weight: 400;
        height: 34px;
        font-size: 14px;
        text-align: left;
        margin-left: -20px;
    }

    .icon_heart {
        color: #737373;
        padding-left: 22px;
        background-repeat: no-repeat;
        background-size: 15px 13px;
        background-position: 0 10px;
        line-height: 34px;
        font-weight: 400;
        height: 34px;
        font-size: 14px;
        text-align: left;
        box-sizing: border-box;
        width: 40%;
        margin-left: -20px;
    }
}

.icon_money {
    padding-top: 1px;
}

.icon-heart {
    padding-top: 1px;
}

.m-b1 {
    color: #949494;
    font-size: 13px;
    padding: 0;
    text-align: left;
    margin-bottom: 8px;
}

.btn {
    background: #fff;
    color:#ff6e00;
    border: 2px solid #ff6e00;
    font-weight: 700;
}

.star {
    color: #fdca00;
    background: linear-gradient(241.35deg,#ffe895 9.83%,#cc9300 81.66%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.star>i.fa-star {
    display: inline;
}

.m-b2 {
    margin-bottom: 20px;
}

.primaryButton {
    color: #fff;
    display: inline-block;
    box-sizing: border-box;
    font-weight: 600;
    background: #ff6e00;
    border: 1px solid #ff6e00;
    border-radius: 4px;
}

.button {
    padding: 8px 16px;
}

.w100p {
    width: 100%;
}

.sideMessageArea_sub {
    padding: 0 20px;
    text-align: center;
    margin-top: 15px;
    font-size: 12px;
    color: #737373;
}


#main {
    margin-left: 3%;
    width: 73%;
    text-align: left;
    font-size: 15px;

    p {
        a {
            color: #ff6e00;
        }
    }

    h3 {
        font-size: 20px;
        margin: 32px 0 16px;
    }

    h1 {
        color: #4f5050;
        font-size: 28px;
        line-height: 1.3;
        padding: 10px 0;
    }
}

.boxbaseP30 {
    padding: 0px;
    margin-bottom: 20px;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #f6f6f6;
    border-radius: 8px;
}

.plan_detail {
    p {
        font-size: 15px;
    }
}

.back_white {
    .inner {
        h1 {
            text-align: left;
            margin: 0;
            width: 100%;
        }
    }
}

h1,h3 {
    font-weight: 700;
}

.nomargin {
    margin: 0!important;
}

.plan_detail_markdown_over {
    display: block;
    position: relative;
    max-height: 300px;
    overflow: hidden;
}

.markdown-body {
    font-size: 16px;
    text-align: left;
    -webkit-text-size-adjust: 100%;
    line-height: 1.5;
    word-wrap: break-word;
}

.alignCenter {
    text-align: center!important;
}

.link {
    color: #ff6e00;
}

.alignCenter>* {
    margin: 0 auto;
}

.plan_detail_title {
    border-bottom: 1px solid #e9eef1;
    padding-bottom: 8px;
    width: 100%;
    margin: 16px 0;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
}

.plan_detail_markdown_over {
    display: block;
    position: relative;
    max-height: 300px;
    overflow: hidden;
}

.planResults_box {
    display: flex;
    flex-wrap: wrap;
}

.planPostBox {
    font-size: .9rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.planPostBox_info {
    min-width: 70px;
    justify-content: space-between;
}

.planPostBox {
    font-size: /8rem;
    color: #919191;
    margin-right: 20px;
    width: 8em;

    p {
        line-height: 1.5;
        margin-bottom: 5px;
        flex: 1;
    }
}

#beginner_content {
    display: block;
}

.gengeral_tab_wrapper {
    .tab_content {
        overflow: hidden;
    }
}

.m-t1 {
    margin-top: 10px;
}

.plan {
    width: 100%;
    margin: 10px 0 30px;
    box-sizing: border-box;
}

.plan {
    padding: 40px;
    background: #fff;
    border: 1px solid #f6f6f6;
    border-radius: 8px;


    p {
        font-size: 4px!important;
        line-height: 1.6;
    }
}

.plan_title {
    margin-top: 4px;
    font-size: 18px;
    font-weight: 600;
    color: #555;
}

.plan_price {
    font-size: .8rem;
    margin-top: 4px;
    font-weight: 600;
    align-items: center;
    flex-wrap: wrap;
}

.tanpatu {
    border-radius: 20px;
    color: #333;
    text-decoration: none;
    padding: 4px 8px;
    font-size: 12px;
    background: #f5f5f5;
}

.plan_markdown_over {
    display: block;
    overflow: hidden;
}

.markdown-body {
    font-size: 16px;
    text-align: left;
    -webkit-text-size-adjust: 100%;
    line-height: 1.5;
    word-wrap: break-word;
}

.markdown-body>:first-child {
    margin-top: 0!important;
}

.markdown-body {
    p {
        margin-bottom: 16px;
    }
}

#main {
    .markdown-body {
        h2,h3 {
            color: #555;
            padding: inherit;
        }
    }
}

.back_white {
    .inner {
        h2 {
            margin: 0;
            width: 100%;
        }
    }
}

.back_white {
    .mark_down-body {
        h2,h3 {
            margin-top: 24px!important;
            margin-bottom: 16px!important;
            font-weight: 600;
            line-height: 1.25;
        }
    }
}

.plan {
    h2,h3 {
        border: none;
        font-size: 16px!important;
    }
}

#main {
    h3 {
        margin: 32px 0 16px;
    }
}

.markdown-body {
    h3 {
        background: #f4f8fa;
    }
}

.plan_right_area {
    margin-top: 6px;
    text-align: right;
}

.p-entry {
    justify-content: center;
    border-top: 1px solid #e5e5e5;
    padding-top: 16px;
    margin-top: 16px;

    .c-button {
        width: 40%;
        text-align: center;
    }
}

.primaryButton {
    color: #fff;
    display: inline-block;
    box-sizing: border-box;
    font-weight: 600;
    background: #ff6e00;
    border: 1px solid #ff6e00;
    border-radius: 4px;
}

.button {
    padding: 8px 16px;
}

h4 {
    font-size: 20px!important;
}

.follow-btn {
    margin-top: 10px;
    width: 100%;
    border-radius: 99px;
    font-weight: 700;
    height: 50px;
    background: #fff;
    border: 2px solid #ff6e00;
    color: #ff6e00;
    
    &:hover {
        background: darken(#ff6e00,20%);
    }
}

.FollowArea_sub {
    text-align: center;
    margin-top: 10px;
}

h3 {
    font-size: 20px;
    margin: 32px 0 16px;
}

.rating-summary {
    display: flex;
    font-size: 15px;
    color: #676767;
    margin-top: -2em;
}

.rating-summary_avg {
    margin: 16px;
}

.rating-summary_avg_num {
    font-size: 64px;
    font-weight: 700;
}

.rating-summary_graph {
    display: flex;
    align-items: center;
}

.rating-summary_graph_labels {
    .rating-stat>* {
        font-size: 80%;
        font-weight: 700;
    }
    .rating-start_label {
        display: flex;
        justify-content: end;
    }
    .rating-start {
        text-align: right;
        line-height: 1.3;
        padding: 1.7em 0;
    }
}

.plan_detail {
    .sm {
        display: none;
    }
}

.mmm {
    margin-right: 20px;
}

.soudan-plan {
    margin-bottom: 40px;
}

.dashContent {
    display: flex;
    text-align: left;
}

.back_white {
    background: #f4f8fa!important;
}

.inner {

    margin: 0 auto;
    flex-wrap: wrap;
}

.p-t3 {
    padding-top: 30px;
}

.dashContent_right {
    flex: 1;
    margin-left: 16px;
    min-height: 0;
    min-width: 0;

    .boxbaseP30 {
        .in {
            margin: 0 auto;
        }
    }

    h1 {
        padding: 0;
        font-size: 28px;
        margin-bottom: 10px;
        color: #333;
    }
}

h1 {
    line-height: 150%;
    font-weight: 700!important;
}

.alert-success {
    width: 100%;
    background: #e0f5f0;
    padding: 8px 16px 8px 40px;
    margin-bottom: 10px;
    border: 1px solid #c4e0d9;
    border-radius: 4px;
    box-sizing: border-box;
    color: #148a6e;
    position: relative;
    line-height: 1.5;
}

.alert-info {
    color: #070560;
    background: #e2ecfb;
    padding: 8px 16px 8px 40px;
    border: 1px solid #d1dbea;
    border-radius: 4px;
    box-sizing: border-box;
    position: relative;
    line-height: 1.5;
}

.custom-btn {
    background: #fff!important;
    color: #ff6e00!important;
    border: 2px solid #ff6e00!important;
    width: 100%;
    width: 280px;
    &:hover {
        background:darken(#ff6d00,20%)!important;
    }
}

.custom-btn2 {
    background: #ff6d00!important;
    width: 100%;
    width: 280px;
    &:hover{
        background: darken(#ff6d00,20%)!important;
    }
}

.waves-effect {
    font-weight: 600;
}

.alert {
    padding-left: 10px!important;

    a {
        color: #ff6e00!important;
    }
}

p{
    font-size: 15px;
    margin: 0;
}

.plan_preview {
    position: sticky;
    top: 0;
    z-index: 7;
    padding: 8px 0;
    box-sizing: border-box;
    justify-content: flex-end;
    align-items: center;
    margin: 0 1px;
}

.flexbox {
    display: flex;
}

.small {
    color: #666;
    font-size: 12px;
}

.alignRight {
    text-align: right;
}

.fas {
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.custom-btn3 {
    margin-left: auto;
    display: block;
    border: 1px solid #ff6e00!important;
    background: #f0f8f9!important;
    box-sizing: border-box;
    font-weight: 600;
    border-radius: 4px!important;
    color: #ff6e00!important;
    cursor: pointer;

    &:hover {
        background: darken(#f0f8f9,20%)!important;
    }
}

.plan_field {
    position: relative;
    border-radius: 8px;
}

.boxbaseP30 {
    padding: 0px;
    margin-bottom: 20px;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #f6f6f6;
    border-radius: 8px;
}

.plan_module_subject {
    font-size: 24px;
    font-weight: 600;
}

.m-b2 {
    margin-bottom: 20px;
}

.link {
    color:#ff6e00;
}



.plan_module {

    .status_unit_head_select {
        width: 50%;

        .selet-wrap {
            width: 100%;
        }
    }

    .status_unit_head {
        margin-bottom: 8px;
        align-items: center;
    }

    .status_unit:first-of-type {
        padding: 0;
        margin: 0;
        border-top: none;
    }

    .form_item_body {
        margin-top: 8px;
    }

    .form_item {
        margin-top: 24px;
        border-top: 1px dashed #e5e5e5;
        padding: 24px 0 0;

        textarea {
            resize: none!important;
        }
    }

    .form_item_head {
        align-items: center;
        font-weight: 500;
        color: #666;

        h3,h4 {
            width: auto;
            margin-right: 8px;
            color: #333;
            font-size: 18px;
            font-weight: 700;
        }
    }
}

h4 {
    font-size: 18px;
    font-weight: 800;
}

h3 {
    font-size: 14px;
    font-weight: 700;
}

.form_item {
    line-height: 1.5;
}

.required_label {
    display: inline-block;
    font-size: 10px;
    font-weight: 700;
    padding: 0 7px;
    margin: 0 4px;
    height: 20px;
    border: 2px solid #ff6e00;
    color: #ff6e00;
}

.small {
    color: #666;
    font-size: 12px;
}

.m-t-5 {
    margin-top: 5px!important;
}

input[type-text]{
    margin: 0;
    outline: none;
    appearance: none;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #e4eaec;
    min-height: 44px;
    font-size: 16px;
    border-radius: 4px;
}

.w100p {
    width: 100%;
}

input {
    line-height: normal;
    overflow: visible;
}

.help-block {
    font-size: 12px;
    display: block;
    color: #fd5050;
}

.select-wrap {
    position: relative;
}

select {
    padding-right: 2rem;
    outline: none;
    text-indent: 0.01px;
    vertical-align:middele;
    height: 40px;
    border: 1px solid #ddd;
    width: 100%;
    border-radius: 3px;
    position: relative;
    display: inline-block!important;
}

select,textarea {
    line-height: normal;
    padding: 0.5rem 0.75rem;
}

.mt-6 {
    margin-top: 1.5rem;
}

.mt-3 {
    margin-top: 0.75rem;
}

.inline-block {
    display: inline-block;
}

textarea {
    line-height: normal;
    padding: 0.5rem 0.75rem;
    border: 1px solid #d5d5d5!important;
    border-radius: 4px;
    width: 100%;
    height: 240px;
}

.plan_edit_unit {
    border-radius: 6px;
    padding: 24px;
    box-sizing: border-box;
    border: 1px solid #e5e5e5;
    background: #f8f8f8;
}

.m-t2 {
    margin-top: 20px;
}

.plan_edit_item {
    width: 100%;
}

.plan_module_subject {
    font-size: 24px;
    font-weight: 600;
}

.m-t-5 {
    margin-top: 5px!important;
}

p {
    font-size: 15px;
    margin: 0;
}

.plan_select_buttons {
    margin: 24px 0 0;
    justify-content: space-between;
}

.btn-large2 {
    width: 100%;
    background:#ff6e00;
    border-radius: 4px;
    height:60px;
    
    &:hover {
        background: darken(#ff6e00,20%);
    }
}

.form-group {
    display: flex;
}

.select-wrap{
    position: relative;
}

select {
    padding-right: 2rem;
}

.js-judgment-status {
    width: 100%;
}

.status_unit {
    select {
        width: 420px!important;
        margin-left: 600px;
        margin-right:0!important;
    }
}

.plan_module_submit {
    background: #bcaaa4;
    border: #bcaaa4!important;
}

.card-custom {
    margin-right: 25px;
}

.card-custom2 {
    margin-left: 25px;
}

.markdown-help {
    width: 100%;
    text-align: left;
    border-spacing: 0;
    margin-left: 20px;
    margin-right: 50px;

    pre {
        background: #333;
        padding: 10px;
        margin-top: 0;
        color: #f5f5f5;
        border-radius: 4px;
        display: block!important;
    }
}

.alignCenter>* {
    margin: 0 auto;
}

.markdown-help_list {
    margin: 32px 0 0;
}

.markdown-body {
    font-size: 16px;
    text-align: left;
    -webkit-text-size-adjust: 100%;
    line-height: 1.5;
    word-wrap: break-word;

    ul {
        padding-left: 2em;
    }

    h1,h2 {
        border-bottom: 1px solid #eaecef;
    }

    h1 {
        font-size: 20px!important;
        padding-bottom: 5px!important;
        color: #333;
    }

    h2 {
        font-size: 18px!important;
        border: none;
        text-align: left;
        padding-bottom: 0.3rem;
        font-weight: 700;
    }
}

.markdown-body>:last-child {
    margin-bottom: 0!important;
}

.markdown-body>:first-child {
    margin-top: 0!important;
}

.size {
    font-size: 0.05rem!important;
}

.modal {
    width: 35%;
    border-radius: 4px;
}

.btn-custom5 {
    background: #fff;
    color:#ff6e00;
    border: 2px solid #ff6e00;
    border-radius: 99px;
    width: 100%;
    margin-bottom: 20px!important;
    width: 280px;
}

.name-p a {
    color: black!important;
    font-weight: 600!important;
}

.btn-custom6 {
    font-size: 12px;
    background: #f0f8f9;
    color:#ff6e00;
    border: 1px solid #ff6e00;
    width: 190px;

    &:hover {
        background: darken(#ff6e00,20%);
    }
}

.m-t2 {
    margin-top: 20px;
}

.plan_create_title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.plan_module_PlanTitle {
    display: block;
}

.plan_module_subject {
    font-size: 24px;
    font-weight: 600;
}

.gengeral_tab_wrapper {
    overflow: hidden;
}

.m-t1 {
    margin-top: 10px;
}

.m-b-20 {
    margin-bottom: 20px!important;
}

.planbox {

    textarea {
        min-height: 240px;
    }

    h3 {
        display: inline-block;
        width: auto;
        font-size: 17px;
        margin-right: 7px;
    }

    .item_name {
        margin-top: 20px;
        align-items: center;
    }

    .item {
        width: 100%;
    }

    .left {
        input[type=text] {
            width: 400px!important;
        }
    }
}

.material {
    display: flex;
}

.pricebox {
    margin-left: 20px;
    display: flex;
    width: 100px;
}


.yen {
    margin-top: 10px;
    margin-left: 5px;
}

.optional_label {
    border: 2px solid #666;
    color: #666;
    display: inline-block;
    font-size: 10px;
    font-weight: 700;
    padding: 0 7px;
    margin: 0 4px;
    height: 20px;
    margin-left: 10px;
    margin-top: 28px;
}

.use_purpose_checkboxes {
    display: flex;
}

.purpose-check {
    margin-right: 10px;
    color: #333;
}

.once {
    color: #333;
}

.chatbox1 {
    display: flex;
    color: #333;
}

.chat,
.video {
    color: #333;
}

.chat {
    margin-right: 10px;
}

.btn-custom7 {
    background: #fff;
    color: #ff5b5b;
    border: 1px solid #ff5b5b;
    border-radius: 4px;

    &:hover {
        background: darken(#ff5b5b,10%)!important;
    }
}

.plan_contract_message {
    text-align: center;
}

.create-myself {
    background: #ff6e00;
    border-radius: 4px;
}

.btn-cutom4 {
    text-align: center;
}

.plan_module {
    .planbox {
        .items {
            width: 100%;
        }
    }
}

.left {
    margin-right: 20px;
}

.yenkai {
    display: flex;
}

.yenkais {
    margin-top: 15px;
    display: flex;
}

@media(max-width: 699px) {
    .plan-card {
        margin: 0 auto;
        margin-bottom: 10px;
    }
}

.prefecture {
    color: green;
    position:absolute; 
    top:5%; 
    right:5%;
}

@media (max-width: 699px) {
    .plan_detail {
        padding: 0!important;
    }
}

@media (min-width: 699px) {
.plan_detail {
    width: 100%;
}
}

@media (max-width: 960px) and (min-width: 699px){
.inner, .inner_nopadding, .inner_small, .mainview, header .inner {
    display: block;
    width: 90%;
    margin: 0 auto;
    padding: 0;
}
}

@media (max-width: 699px) {
.inner, .inner_nopadding, .inner_small, .mainview {
    display: block;
    width: 90%;
    margin: 0 auto;
    padding: 0!important;
}

.searchBox {
    display: none;
}
}

.star-rating-back {
    white-space: nowrap;
}

@media (max-width: 699px) {
    .plan_detail {
        padding: 0!important;
        width: 100%;
    }
}

@media(max-width: 960px) and (min-width: 699px) {
    .inner {
        margin: 0 auto;
    }
}

@media (max-width: 699px) {
    .inner {
        padding: 0!important;
    }
}

@media(max-width: 960px) and (min-width: 699px) {
    .inner {
        max-width : 1100px;
    }
}

@media(max-width: 1200px){
    .inner {
        width: 97%!important;
    }
}

@media(max-width: 699px) {
    #side.smt {
    width: 100%;
    text-align: center;
    margin: 40px auto 0;
}
}

@media(max-width: 699px) {
    #side {
        position: relative;
    }
}

@media (max-width: 699px){
.plan_detail .pc {
    display: none!important;
}

.pricebox {
    margin-left: 0px!important;
    display: flex;
    width: 100px;
}

.items {
    text-align: left!important;
}
}

@media(max-width: 699px) {
    #side {
        .smt {
            .gray {
                text-align: center;
                margin-bottom: 20px;
            }
        }
    }
}

@media(max-width: 699px) {
    #side {
        .smt {
            .m-t05 {
                margin: 0;
            }
        }
    }
}

@media (max-width: 699px) {
    #side {
        .smt {
            .name {
                text-align: center;
                padding: 0;
            }
        }
    }
}

@media (max-width: 960px) and (min-width: 699px) {
    #side .name, #side.smt .name {
        margin: 10px 0;
    }
}

@media (max-width: 699px) {
    #side.smt .name a {
        color: #333;
        text-decoration: none;
    }
}

@media (max-width: 699px) {
    .hyouka_box {
        margin-bottom: 20px;
    }
}

@media (max-width: 699px) {
#side.smt .icon_heart, #side.smt .icon_money, #side.smt .icon_user {
    width: 40%;
}
}

@media (max-width: 960px) and (min-width: 699px){
.hyouka_box .right {
    width: 100%;
    text-align: left!important;
    height: auto;
    line-height: 100%;
    margin-bottom: 10px;
}
}

@media (max-width: 699px){
#side.smt .SideMessageArea {
    display: none;
}
}

@media (max-width: 699px) {
.inner #main {
    margin-left: 0;
    width: 100%;
}
}

@media (max-width: 699px){
.section-menu {
    margin: -2px calc(-50vw - -50%) 0.3em;
}
}

@media (max-width: 699px){
.section-menu__list {
    border-radius: 0;
}

.mentorList .plan-card {
    margin-right: 40px;
    margin-bottom: 17px;
}
}

@media (max-width: 399px) {
    .mentorList .plan-card {
        margin-right:55px;
    }
}

@media (max-width: 699px){
.section-menu__list li {
    font-size: 13px;
}
}

@media (max-width: 699px){
.section-menu__bar-bottom {
    display: none;
}
}

@media (max-width: 699px){
.boxbaseP30, .commentList, .menter_bosyu, .plan, .recommend_mentor {
    padding: 0px;
}
}

@media (max-width: 960px) and (min-width: 699px){
.boxbaseP30, .commentList, .menter_bosyu, .plan, .recommend_mentor {
    padding: 0px;
}
}

@media (max-width: 699px){
.plan_detail p {
    font-size: 14px;
}
}

@media (max-width: 699px){
.back_gray p {
    text-align: left;
}
}

@media (max-width: 699px) and (max-width: 699px){
#main h1 {
    padding-top: 10px;
    font-size: 16px;
}
}

@media (max-width: 699px){
#main h1 {
    font-size: 24px;
    line-height: 150%;
    padding: 0 0 10px;
}
}

@media (max-width: 960px) and (min-width: 699px){
.plan_detail h1 {
    font-size: 1.6rem!important;
}
}

@media (max-width: 699px){
.back_gray #main img {
    max-width: 100%;
}
}

@media (max-width: 699px){
.back_gray #main img {
    max-width: 100%;
}
}

@media (max-width: 699px) and (max-width: 699px){
#main h3 {
    padding-top: 10px;
    font-size: 16px;
}
}

@media (max-width: 699px){
.plan_detail .markdown-body h1, .plan_detail .markdown-body h2, .plan_detail .markdown-body h3 {
    font-size: 16px!important;
}

.plan_module_subject {
    font-size: 17px!important;
    font-weight: 600;
}
}

@media (max-width: 699px){
.plan_detail .markdown-body h1, .plan_detail .markdown-body h2, .plan_detail .markdown-body h3 {
    font-size: 16px!important;
}

.font-weight {
    font-size: 14px!important;
}

.custom-btn2 {
    margin-top: 20px;
    width: 100%;
}
}

@media (max-width: 699px){
.plan_detail p {
    font-size: 14px;
}
}

@media (max-width: 699px){
.back_gray p {
    text-align: left;
}
}

@media (max-width: 699px){
.plan_detail .markdown-body h1, .plan_detail .markdown-body h2, .plan_detail .markdown-body h3 {
    font-size: 16px!important;
}
}

@media (max-width: 699px) and (max-width: 699px){
#main h3 {
    padding-top: 10px;
    font-size: 16px;
}
}

@media (max-width: 699px){
#main h3 {
    margin-top: 32px;
}
}

@media (max-width: 699px){
.plan__title {
    font-size: 15px;
    width: 100%;
}
}

@media (max-width: 699px){
.back_gray #main img {
    max-width: 100%;
}
}

@media (max-width: 699px){
.plan__title {
    font-size: 15px;
    width: 100%;
}
}

@media (max-width: 699px){
.back_gray #main img {
    max-width: 100%;
}
}

@media (max-width: 699px){
.plan__title {
    font-size: 15px;
    width: 100%;
}
}

@media (max-width: 699px){
.boxbaseP30, .commentList, .menter_bosyu, .plan, .recommend_mentor {
    padding: 0px;
}
}

@media (max-width: 960px){
.plan_detail h4 {
    font-size: 16px;
}
}

@media (max-width: 699px){
.plan_detail_title h4 {
    font-size: 16px;
}
}

@media (max-width: 699px){
.boxbaseP30, .commentList, .menter_bosyu, .plan, .recommend_mentor {
    padding: 0px;
}
}

@media (max-width: 699px){
.planPostBox {
    display: block;
    margin-bottom: 16px;
}
}

@media (max-width: 699px){
.planPostBox_info {
    width: auto;
    justify-content: flex-start;
}
}

@media (max-width: 699px){
.plan_detail p {
    font-size: 14px;
}
}

@media (max-width: 699px){
.back_gray p {
    text-align: left;
}

.kai {
    width: 50px;
}
}

@media (max-width: 699px){
#side.smt {
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
    margin: 40px auto 0;
}
}

@media (max-width: 699px){
#side {
    position: relative;
    height: auto;
}
}

@media (max-width: 699px){
#side.smt .gray, #side.smt .name, #side.smt .status {
    text-align: center;
}
}

@media (max-width: 699px){
#side.smt .gray {
    margin-bottom: 20px;
}
}

@media (max-width: 699px){
#side.smt .m-t2, #side.smt .m-t05 {
    margin: 0;
}
}

@media (max-width: 699px){
#side.smt .name {
    padding: 0;
}
}

@media (max-width: 699px){
#side.smt .gray, #side.smt .name, #side.smt .status {
    text-align: center;
}
}

@media (max-width: 960px) and (min-width: 699px){
#side .name, #side.smt .name {
    margin: 10px 0;
}
}

@media (max-width: 699px){
#side.smt .name a {
    color: #333;
    text-decoration: none;
}
}

@media (max-width: 699px){
.hyouka_box {
    margin-bottom: 20px;
}
}

@media (max-width: 960px) and (min-width: 699px){
.hyouka_box .right {
    width: 100%;
    text-align: left!important;
    height: auto;
    line-height: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}
}

@media (max-width: 699px){
#side.smt .icon_heart, #side.smt .icon_money, #side.smt .icon_user {
    width: 40%;
}
}

@media (max-width: 960px) and (min-width: 699px){
.hyouka_box .right {
    width: 100%;
    text-align: left!important;
    height: auto;
    line-height: 100%;
    margin-bottom: 10px;
}
}

@media (max-width: 699px){
#side.smt .SideMessageArea {
    display: none;
}
}

@media (max-width: 699px) and (max-width: 699px){
#main h3 {
    padding-top: 10px;
    font-size: 16px;
}
}

@media (max-width: 699px){
#main h3 {
    margin-top: 32px;
}
}

@media (max-width: 699px){
    .name_text {
        margin-left: 40px;
        color: black;
    }

    .mentorSearch {
        h1 {
            flex: 1;
            font-size: 17px;
            font-weight: 700;
        }
    }

    .dashContent_rights h1 {
        padding: 0;
        font-size: 17px!important;
        color: black;
    }

    .dashContent_right h1 {
        padding: 0;
        font-size: 17px!important;
        margin-bottom: 10px;
        color: #333;
    }
}

.plan_contract_caution_head {
    text-align: center;
}

.dashContent_rights h1 {
    padding: 0;
    font-size: 28px;
    color: black;
}

.container {
    text-align: left;
}


.addplan {
    text-align: center!important;
}

.leftt {
    text-align: left!important;
}