
main{
    flex: 1;
    display: block;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-break: break-all;
}

.userProfileHeader{
    padding: 16px 4%;
    background: #ff6e00;
    color: #fff;
    box-sizing: border-box;
    border-top: 5px solid #fff;
    height: 155px;
}

.userProfileHeader_inner{
    align-items: center;
    margin: 0 auto -32px;
    max-width: 1200px;
    width: 100%;
}

.flexbox{
    display: flex;
    flex-wrap: wrap;
}

.userProfileHeader_icon{
    .icon{
        border: 6px solid #ff6e00!important;
        background: #f4f8fa;
        box-sizing: border-box;
    }
}

.size125{
    width: 125px;
    height: 125px;
}

.icon{
    margin: 0 auto;
    border-radius: 50%;
    background-position: top!important;
    background-size: cover!important;
}

.userProfileHeader_name{
    .snsicon{
        justify-content: left;
        font-size: 1.2rem!important;
        line-height: 1.2rem;
        padding: 0;
    }

    text-align: left;
    font-size: 1.4rem;
    font-weight: 600;
    margin-left: 24px;
    width: calc(100% - 170px);
    padding-bottom: 16px;

    h1{
        color: #fff;
        text-align: left;
        font-size: 1.4rem;
        font-weight: 600;
    }
}

h1{
    line-height: 150%;
}

.snsicon{
    margin: 16px 0;
    display: flex;
    text-align: left;
}

.editBox a:first-child{
    margin-left: 0;
}

.editBox{
    text-align: right;
    font-size: .8rem;

    a{
        i{
            margin-right: 4px;
        }
    }

    .button{
        font-size: 12px;
        display: inline-block;
    }
}

.fas{
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

a,a:hover{
    text-decoration: none;
}

.subButton{
    border: 1px solid #ff6e00;
    color: #ff6e00;
    padding: 8px 16px;
    border-radius: 4px;
    font-weight: 600;
    background: #f0f8f9;
    box-sizing: border-box;
    cursor: pointer;
    white-space: nowrap;
}

.userProfile{
    background: #f5f4f4;
    .tab_wrapper{
        .tab_content_description{
            .editBox{
                position: absolute;
                right: 16px;
                top: 32px;
                width: auto;
            }

            position: relative;
            padding-top: 16px;

            .title_area{
                .mt-0{
                    margin-top: 0!important;
                }
            }
        }

        #introduction:checked~#introduction_content,
        #plan:checked~#plan_content,
        #post:checked~#post_content,
        #review:checked~#review_content{
            display: block;
        }

        .tab_content{
            overflow: hidden;
            display: none;
        }

        .tab_item{
            font-size: 1rem;
            padding: 10px 16px;
            margin-right: 8px;
            box-sizing: border-box;
            display: inline-block;
            color: #999;
            position:relative;
        }
        input:checked+.tab_item{
            color:#ff6e00;
        }

        input[name=tab_item]{
            display: none;
        }
    }

    .scoreStatus_list:first-child{
        border-width: 0;
    }

    h2{
        font-weight: 600;
    }

    .userProfile_Main{

        margin-top: 40px;
        width: 800px;

        h2{
            color: #333;
            font-size: 18px;
            width: 50%;
        }

        .scoreBox{
            .scoreStatus_lists{
                width: calc(22% - 1px);
            }
        }
    }

    .manage {
        margin-top: 20px!important;
    }

    .inner{
        display:flex;
        flex-wrap:wrap;
    }
}

.inner{
    max-width: 1200px;
    margin: 0 auto;
}

.scoreBox{
    .scoreStatus_list_label{
        color: #666;
        font-size: 11px;
        padding-left: 8px;
    }

    .scoreStatus_list_score{
        font-weight: 600;
        font-size: 16px;
    }

    .scoreStatus_lists{
        text-align: center;
        border: solid #e5e5e5;
        border-width: 0 0 0 1px;
        align-items: center;
        justify-content: center;
        font-size: 12px;
    }

    .scoreStatus_listss{
        border: 1px solid #eee;
        padding: 8px 0;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .scoreStatus_score{
        font-size: 32px;
        font-weight: 700;
        line-height: 1.2;
        color: #ff6e00;
    }
    
    .scoreStatus_label{
        font-size: 14px;
        display: block;
    }

    .scoreStatus_item{
        box-sizing: border-box;
    }

    .scoreStatus_item:last-child{
        width: calc(50% - 8px);
        border-width: 0 0 0 1px;
        padding-left: 16px;
    }

    .contract_manage{
        border: 1px solid #eee;
        width: 25%;
    }

    .scoreStatus{
        padding: 16px;
        box-sizing: border-box;
        border-radius: 8px;
    }
}

.m-b2{
    margin-bottom: 20px;
    font-size: 14px;
}

.m-t1{
    margin-top: 10px;
}

.scoreBox_wrap{
    align-items: stretch;
}

.relative{
    position: relative;
}

ul{
    list-style: none;
}

[type=radio]{
    box-sizing: border-box;
    padding: 0;
}

input{
    line-height: normal;
    overflow:visible;
    margin: 0;
    font-size: 100%;
}

.font-bold{
    font-weight: 700;
}

.boxbaseP301{
    padding: 0px;
    margin-bottom: 20px;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #f6f6f6;
    border-radius: 8px;
    overflow: hidden;
}

.plan_detail_markdown_over{
    display: block;
    position: relative;
    overflow: hidden;
}

p{
    font-size: 15px;
    margin: 0;
}

.alignCenter{
    text-align: center!important;
}

.link{
    color: #ff6e00;
}

.alignCenter>*{
    margin: 0 auto;
}

@media (min-width: 960px) and (max-width: 1200px){
    .userProfile{
        .userProfile_Main{
            width: 700px;
        }
    }
}

@media (min-width: 960px) and (max-width: 1200px){
    .userProfileSide{
        padding-left: 20px;
    }
}

@media (min-width: 960px) and (max-width: 1200px) {
    .inner {
        margin: 0 20px!important;
    }
}

@media (max-width: 699px) {
    .userProfleHeader {
        padding: 16px 4%;
    }
}

@media (max-width: 699px) {
    .userProfileHeader_inner {
        margin: 0;
    }
}

@media (max-width: 699px) {
    .userProfileHeader_icon {
        .size125 {
            width: 80px;
            height: 80px!important;
            margin-top: 30px!important;
        }
    }
}

.side-bar-message {
    margin-bottom: 60px;
}

.userProfileSide{
    flex: 1;
    padding-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.m-b1{
    margin-bottom: 10px;
}

@media (max-width: 699px) {
    .userProfileHeader_name {
        font-size: 15px;
        width: calc(100% - 96px);
        padding-bottom: 0;
        line-height: 1.5;
        margin-left: 16px;
    }

    .length-r {
        width: 375px;
    }
}

@media (max-width: 699px) {
    h1 {
        padding: 30px 10px 10px;
    }
}


@media (max-width: 699px) {
    .userProfileHeader_name {
        .snsicon {
            margin-bottom: 0;
        }
    }
}

@media (max-width: 699px) {
    .inner {
        margin: 0 auto;
        padding: 0!important;
    }
}

@media (max-width: 1200px) {
    .inner {
        max-width: 1100px;
        width: 97%!important;
        box-sizing: border-box;
    }
}

@media (max-width: 699px) {
    .customer_summary {
        .contract_manage {
            margin-top: 0;
        }
    }
}

@media (max-width: 699px) {
    .scoreBox {
        .contract_manage {
            width: 100%;
        }
    }
}

@media (max-width: 960px) {
    .scoreBox {
        .scoreStatus_score {
            font-size: 24px;
        }
    }
}

@media (max-width: 699px) {
    .userProfile {
        .tab_wrapper {
            .tab_item {
                font-size: .8rem;
                padding: 10px 8px;
                margin-right: 0;
            }
        }
    }
}

@media (max-width: 699px) {
    .boxbaseP30 {
        padding: 0px;
        text-align: center;
    }

    .upload {
        padding: 0;
    }

    .consultant-info {
        display: block;
        margin: 0 auto;
        text-align: -webkit-center;
    }

    .bbb {
        display: block;
        text-align: center;
    }

    .aaa {
        margin: 0 auto;
    }
}

@media (max-width: 699px) {
    .scoreBox {
        .scoreStatus_lists {
            border: none;
            width: calc(40% - 1px)!important;
            
            

            .scoreStatus_list {
                display: block;

                .scoreStatus_list_label {
                    padding-left: 0;
                    font-size: 10px;
                }
                span {
                    display: block;
                }
            }
        }
    }
}


main {
    flex: 1;
    display: block;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-break: break-all;
}

.dashContent {
    display: flex;
    text-align: left;
}

.back_white {
    background: #f4f8fa!important;
}

.inner {
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.p-t3 {
    padding-top: 30px;
}

.dashContent_right {

    .boxbaseP30 {
        .in {
            margin: 0 auto;
        }
    }

    h1 {
        padding: 0;
        font-size: 28px;
        margin-bottom: 10px;
        color: #333;
    }
    flex: 1;
    margin-left: 16px;
    min-height: 0;
    min-width: 0;
    background:#f4f8fa!important;
    border: 1px solid #f6f6f6;
    border-radius: 8px;
    overflow: hidden;
}

div {
    display: block;
}

h1 {
    line-height: 150%;
    font-weight: 700;
}

.sub_menu {
    text-align: left;
    font-size: 14px;
    margin-bottom: 10px;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;

    a {
        display: block;
        padding: 8px 0;
        color: #999;
    }

    .active {
        a {
            color: #ff6e00;
            font-weight: 700;
            position: relative;
        }
    }

    li {
        display: inline-block;
        margin-right: 16px;
        font-weight: 600;
        font-size: 14px;
        line-height: 2;
    }
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #4f5050;
}

form {
    display: block;
}

input {
    line-height: normal;
    overflow: visible;
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

.boxbaseP30 {
    padding: 30px;
    margin-bottom: 20px;
    box-sizing: border-box;
}


.pc_hyoji {
    display: block;
}

h3 {
    font-weight: 700;
}

.m-b2 {
    margin-bottom: 20px;
}

p {
    font-size: 15px;
    margin: 0;
}

.fa {
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.profileIndicator {
    display: flex;
    margin-bottom: 30px;

    .c100 {
        margin-right: 20px;
        max-width: 105px;
    }
}

.c100 {
    position: relative;
    font-size: 80px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: #ebebeb;
    box-sizing: content-box;

    .slice {
        position: absolute;
        width: 1em;
        height: 1em;
        clip: rect(0,1em,1em,0.5em);
    }

    span {
        position: absolute;
        display: block;
        width: 100%;
        z-index: 1;
        left: 0;
        top: 0;
        line-height: 80px;
        font-size: 18px;
        color: #666;
        text-align: center;
        white-space: nowrap;
        font-weight: 700;
    }
}

.profileIndicator_items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.profileIndicator_item {
    margin-right: 20px;
}

.profileIndicator_item-active {
    text-decoration: line-through;
}

.Midasi {
    font-size: 1.2rem;
    font-weight: 700;
    border-bottom: 1px solid #eaecef;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.editable {
    width: 100%;
    font-size: 13px;

    .icon {
        margin: 0;
    }

    td {
        padding-top: 10px;
        vertical-align: top!important;

        input[type=text] {
            margin: 0;
        }
    }

    tr {
        vertical-align: top!important;
    }

    th {
        padding-top: 20px;
        vertical-align:top!important;
    }
}

.m-b3 {
    margin-bottom: 30px;
}

.form_badge_hissu {
    background: #ff6565;
    color: #fff;
}

.form_badge {
    padding: 2px 8px;
    font-size: 11px;
    border-radius: 2px;
}

input[type=text] {
    outline: none;
    appearance: none;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #e4eaec;
    min-height: 44px;
    font-size: 16px;
    border-radius: 4px;
}

.w300 {
    width: 300px;
}

input {
    line-height: normal;
    overflow: visible;
    font-family: inherit;
    margin: 0;
    font-size: 100%;
}

.help-block {
    font-size: 12px;
    display: block;
    color: #fd5050;
}

.gray2 {
    font-size: 13px;
    color: #999;
}

.m-t05 {
    margin-top: 5px;
}

.fa-fw {
    text-align: center;
    width: 1.25em;
}

.size125 {
    width: 125px;
    height: 125px;
}

.icon {
    border-radius: 50%;
    background-position: top;
    background-size: cover;
    background-color: #f4f8fa;
    margin-bottom: 30px;

}

.upload {
    background: #f4f8fa;
    color: #4f5050;
    padding: 20px 20px 20px 0px;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: 24px 24px;
    text-align: center;
}

.m-t1 {
    margin-top: 10px;
    font-size: 10px;
}

.m-b-20 {
    margin-bottom: 20px!important;
}

.alignCenter {
    text-align: center!important;

    * {
        margin: 0 auto;
    }
}

.upload-btn {
    color: #fff;
    background-color: #a3a3a3;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.m-t-5 {
    margin-top: 5px!important;
}

.p-b1 {
    padding-bottom: 10px;
}

.p-t1 {
    padding-top: 10px;
}

textarea {
    line-height: normal;
    padding: 0.5rem 0.75rem;
    border: 1px solid #d5d5d5;
    width: 100%;
    height: 240px!important;
}

input[type-text] {
    margin: 0;
}

input[type=text] {
    outline: none;
    appearance: none;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #e4eaec;
    min-height: 44px;
    font-size: 16px;
    border-radius: 4px;
}

.w300 {
    width: 300px;
}

.form-group {
    display: flex;
}

.select-wrap {
    position: relative;
}

.w200 {
    width: 200px;
}

select {
    padding-right: 2rem;
    outline: none;
    text-indent: 0.01px;
    background: none;
    vertical-align: middle;
    font-size: inherit;
    color: inherit;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
    position: relative;
    display: inline-block;
    text-transform: none;
    margin: 0;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-shadow: none;
    text-align: start;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    cursor: default;

    option {
        background: #fff;
        color: #333;
    }
}

.flex {
    display: flex;
}

.profile_sns_link {
    display: flex;
    align-items: center;
    background: #f4f8fa;
    font-size: 12px;
    text-align: center;
    padding: 0 8px;
    justify-content: center;
    border: 1px solid #e4eaec;
    white-space: nowrap;
    height: 47px;
}

.imasugu {
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    margin-bottom: 20px;

    .btn {
        margin: 30px auto;
        padding: 6px 60px;
        padding-bottom:40px!important;
        border-radius: 4px;
        display: inline-block;
    }
}

.alignCenter {
    text-align: center!important;
}

.btn {
    text-align: center;
    border:2px solid #ff6e00;
    color:#ff6e00;
    text-decoration: none;
    background: #fff;
    cursor: pointer;
    font-weight: 700;
}

.editable {
    width: 100%;
    font-size: 13px;
}

.m-b2 {
    margin-bottom: 20px;
}

.editable tr {
    vertical-align: top!important;
}

.editable th {
    padding-top: 20px;
    vertical-align: top!important;
}

.editable td {
    padding-top: 10px;
    vertical-align: top!important;
}

.m-t-5 {
    margin-top: 5px!important;
}

.WorkResultBox {
    textarea {
        height: 100px;
        line-height: normal;
        padding: 0.5rem 0.75rem;
    }

    .year {
        width: 80px!important;
    }

    .month {
        width: 65px!important;
    }
}

textarea {
    border: 1px solid #d5d5d5;
    width: 100%;
    outline: none;
    appearance: none;
    min-height: 44px;
    font-size: 16px;
    border-radius: 4px;
    overflow: auto;
}

input {
    line-height: normal;
    overflow: visible;
}

input[type=number] {
    outline: none;
    appearance: none;
    padding: 8px;
    box-sizing: border-box!important;
    border: 1px solid #e4eaec!important;
    min-height: 44px;
    font-size: 16px;
    border-radius: 4px!important;
}

.userstyle {
    font-size: 14px;
    margin-top: 10px;
    color: #333;
}

.current_signin,
.follow {
    display: block;
}

.registration_date {
    display: block!important;
    font-size: 12px;
}

.current_signin {
    font-size: 12px;
}

.m-b2{
    display: block!important;
    margin-left: 20px;
    border-radius: 4px;
}

.hanten {
    background: #ff6e00!important;
    color: #fff!important;
    width: 380px;
}

.certificate_img {
    height: 100%;
    width: 100%;
}

.btn-outline-secondary {
    width: 100%;
}

.w-100 {
    width: 100%;
}

.name-p {
    margin-left: 5px;
}

.plan_detail_markdown_over{
    p {
        text-align: left;
    }
}