.registration-btn {
    width: 100%;
    background: #ff6e00;
    font-weight: 700;
    border-radius: 4px;
    font-size: 20px;

    &:hover {
        background:darken(#ff6e00, 20%);
    }
}

.register-select {
    display: flex;
    width: 100%;
    margin-left: 20px;
    margin-bottom: 20px;
}

[type="radio"]:not(:checked), 
[type="radio"]:checked {
    opacity: 1!important;
    pointer-events: auto!important;
}

.register-select {
    p {
        margin: 0 auto;
    }

    label {
        margin-left: 20px;
    }
}

.with-gap {
    margin-top: 5px;
}

.consultant-check {
    margin-right: 50px!important;
}

.kiyaku {
    margin-right: 20px;
    margin-left: 30px;
}

.user-icon {
    margin-top: 7px;
}

.border-top {
    border: 1px solid #333;
}